@import "tailwindcss";

html,
body,
#root {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

body {
	margin: 0;
}

body.video-loader-blur #root {
	filter: blur(6px);
	transform: scale(1.01);
	transform-origin: center;
}

body.video-loader-blur {
	overflow: hidden;
}