/* Global styles placeholder */
:root {
  color: #111827;
  background: #f8fafc;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

body {
  margin: 0;
}

.createModal .ant-modal-wrap,
.createModal .ant-modal,
.createModal .ant-modal-content,
.createModal .ant-modal-container {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  padding: 0;
  border-radius: 32px !important;
}

.createModal .ant-modal-header,
.createModal .ant-modal-body,
.createModal .ant-modal-content {
  border: none !important;
}

.createModal .ant-modal-body {
  padding: 0;
}


.custom-modal:where(.css-dev-only-do-not-override-1d8anct).ant-modal .ant-modal-container{
  padding: 0;
}

.commentInput:where(.css-dev-only-do-not-override-1d8anct).ant-input{
  color: #9ca3af;
}

.commentInput {
  --ant-color-text-placeholder: #9ca3af;
}